@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');

body{
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Grenze Gotisch', cursive;
  background-image: url(https://images.pexels.com/photos/3671146/pexels-photo-3671146.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  height: 100vh;
  background-position: left;
}

.header{
  text-align: center;
}

.logo-img{
  width: 40px;
  /* display: inline-block; */
  position: absolute;
  margin-left: 0px;
  padding-top: 13px;
}

.logo-text{
  padding-left: 40px;
  margin-left: 10px;
  display: inline;
  font-size: 42px;
}