@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');

html {
  box-sizing: border-box;
  padding : 0;
  margin: 0;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
  outline: none;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Grenze Gotisch', cursive;
  background-image: url(https://images.pexels.com/photos/3671146/pexels-photo-3671146.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 95vh;
  text-align: center;
  background-position: left;
  overflow: hidden;
}

ul{
  list-style-type :  none;
  padding : 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

ul li img{
  width: 40px;
  margin-top: 10px;
  margin-right: 5px;
}

ul li h1{
  margin-top: 0px;
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(173, 0, 0), ORANGE);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .currency-main{
  width: 450px;
  background: white;
  padding: 50px;
  margin: 100px auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.header .currency-main .title h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
}

.input{
  border: 3px solid goldenrod;
  border-radius: 1em;
  padding: .99rem;
  background-color: whitesmoke;
}

select{
  margin-left: .1rem;
  margin-top: .5rem;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  width: 100%;
}

.equals{
  font-weight: 800;
  font-size: 55px;
}

.social-link{
  margin-top: -50px;
}

.social-link a{
  height: 45px;
  width: 45px;
  margin-left: 10px;
  background-color: rgba(218, 165, 32, 0.719);
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-link a i.fa{
  font-size: 25px;
}


@media (max-width: 408px){
  .header .currency-main{
    width: 307px;
  }
}